body {
    margin: 0;
}

.color {
    color: crimson;
}

h2 {
    color: purple;
    font-weight: 1000;
}

.felxiable-conteiner {
    display: flex;
}

.bk-i {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.half-width {
    padding-top: 5%;
    padding-left: 8%;
    width: 50%;
}

.half-width img {
    padding-left: 50px;
    width: 50%;
    height: 70%;
}

.hireme {
    color: black;
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}


#big {
    font-size: 50px;
}

#box {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(255, 38, 0);
    font-weight: 800;
}

#big3 {
    color: crimson;
    font-size: 30px;
    font-weight: 600;
}

.bk-i2 {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px rebeccapurple;
    padding: 20px;
    text-align: justify;

}

#border {
    border-left: 5px solid blue;
}

#border2 {
    border-left: 5px solid black;
}

footer p {
    margin-top: 5%;
    text-align: center;
}